h1{
    text-align: center;
    color: darkblue
}

h2{
    text-align: center;
    color: darkblue
}

body{
    background-color: antiquewhite;
}

footer{
    text-align: center;
    color: brown;
    background-color: aquamarine;
}