h1{
    text-align: center;
    color: darkblue
}

h2{
    text-align: center;
    color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background-color: antiquewhite;
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    text-align: center;
    color: brown;
    background-color: aquamarine;
}

.list{
    text-align: center;
}